* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15px;

  vertical-align: baseline;
}

:root {
  --text: #0f1419;
  --icon-text: #536471;
  --border: #dadddf;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-tweet {
  width: 100%;
  max-width: 591px;
  height: 161px;
  display: flex;
  border: 1px solid var(--border);
  padding: 17px;
  box-sizing: border-box;
}

.image {
  padding: 17px;
}

.contant{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.header {
  display: flex;
  align-items: center;

  margin-bottom: 5px;
}

.header h1{
  margin-right: 3px;
}

.verify{
  height: 15px;
  width: 15px;
  margin-right: 6px;
}

.user-id{
  color: var(--icon-text);
  margin-right: 4px;
}
.dot {
  width: 3px;
  height: 3px;
  background-color: var(--icon-text);
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 2px;
  margin-right: 4px;
}

.date {
  color: var(--icon-text);
}

.main {
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
}

.span-init {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 400;
  color: var(--text);
}

.join {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  color: var(--text);
}

.fotter {
  max-width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  
  cursor: pointer;
}

small {
  font-size: 13px;
  color: var(--icon-text);
  margin: 0px 18px;
}


@media(max-width: 1024px){
  .container-tweet {
    max-width: 591px;
    
    height: 161px;
    display: flex;
    border: 1px solid var(--border);
    padding: 10px;
    margin: 0 10px;
  }
  small{
    margin: 0 4px 2px 4px;
  }
}